img {
   width: 30vw;
   margin-left: auto;
   margin-right: auto;
}
main {
   display: grid;
   height: 100vh;
   grid-template-columns: auto auto;
   grid-gap: 10px;
   margin-bottom: 100px;
}
p {
   margin: 20px;
}