body {
   background-image: url(/images/birds.jpg);
   background-size: 100vw 100vh;
   font-family: 'Commissioner', sans-serif;
}
main {
   align-self: flex-start;
   background-color:  rgba(255, 255, 255, 0.75);
   padding: 15px;
   margin-top: 10px; 
   height: fit-content;
   text-align: center;
   width: fit-content;
   font-size: 1em;
}
h1 {
   color: #0c8d96;
   font-size: 50px;
   font-family: 'Rochester', cursive;
   padding: 0;
   margin: 0;
}
h2 {
   padding: 0;
   margin: 0;
}
.quote {
   font-weight: lighter;
 }
 @media (max-width:500px) {
   body {
      background-size: 100vw 25vh;
      background-position-x: center;
      background-repeat: repeat-y;
      background-color: #76d5db;
      justify-content: center;
   }
   main {
      margin: 0;
      margin-top: 20vh;
      width: 90%;
   }
 }