body {
  width: 100%;
  margin: 0;

  font-family: 'Lato', sans-serif;
  background-color: #eeeeee;
}

main {
  margin-left: 5%;
  height: 75vh;
}

nav {
  display: flex;
  flex-grow: 0;
  padding: 2%;

  background-color: #0d7377;
}

img {
  max-width: 75%;
  max-height: 75%;
  width: auto;
  height: auto;
}

h1 {
  color: #3d7ea6;
}

a {
  color: #3d7ea6;
}

.navlinks {
  display: flex;
  padding-right: 5%;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}
.navlink {
  font-size: larger;
  color: #fff0f0;
  text-decoration: none;
}
.navlink:hover {
  color: #ccf2ff;
  transition: color 0.5s;
}
#active-navlink {
  color: #32e0c4;
}
.nav-icon {
  width: 10%;
  height: auto;
}
#nav-icon-img {
  border-radius: 50%;
}
.quote {
  font-weight: lighter;
}
.social-media {
  target-name:new;
  target-new:tab;
}