body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  background-color: #eeeeee;
}

main {
  margin-left: 150px;
  width: 75vw;
  height: 75vh;
}

nav {
  height: 100vh;
  width: fit-content;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #0d7377;
}

h1 {
  color: #d98c11;
}
h2 {
  color: #0099cc;
}

a {
  color: #3d7ea6;
}

#navlinks {
  padding-top: 15vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
}
.navlink {
  padding: 10px;
  width: 75px;
  font-size: larger;
  color: #fff0f0;
  text-decoration: none;
}
.navlink:hover {
  background-color: #d98c11;
}
#active-navlink {
  color: #32e0c4;
}
a > img:hover {
  border-radius: 100%;
  transition: box-shadow 1s;
  box-shadow: 5px 5px 8px #d6d6d6;
}
@media (max-width:500px) {
  main {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vh;
  }
  nav {
    width: 100vw;
    height: fit-content;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #0d7377;
  }
  #navlinks {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
  }
  .navlink { 
    width: 75px;
    font-size: medium;
    color: #fff0f0;
    text-decoration: none;
  }
}